@import './style/index';

@import '~normalize.css/normalize.css';

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


html, body, #content {
  min-height: 100%;
  position: absolute;
  width: 100%;
  margin: 0px;
}

#content {
  display: flex;
  flex-flow: column;
}

.app {
  width: 1024px;
  max-width: 100%;
  height: 750px;
  margin: 0 auto;
  padding-top: 40px;
}

.react-datagrid {
  min-height: 300px;
}

h1 {
  color: #383838;
  text-align: center;
}
