/*===================================
=            Base styles            =
===================================*/

@import '~react-flex/index.css';

/*----------  Main  ----------*/
.react-datagrid {
  height: 100%;
  min-height: 450px;
  position: relative;
}

/*----------  Header  ----------*/
.react-datagrid__header {
  
}

/*----------  Body  ----------*/
.react-datagrid__body {
  position: relative;
  overflow: auto;
  height: 100%;
}

.react-datagrid__body--loading { }


/*----------  Scroller  ----------*/
.react-datagrid__scroller {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.react-datagrid__emptry-text {}


/*----------  Row  ----------*/
.react-datagrid__row { }

/*----------  Cell & Column-header  ----------*/
.react-datagrid__cell,
.react-datagrid__column-header {
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
}

/*-----  Column Header  -----*/
.react-datagrid__column-header {
}

/*----------  Cell  ----------*/
.react-datagrid__cell {}
.react-datagrid__cell--first {}
.react-datagrid__cell--last {}

.react-datagrid__cell--align-right {
  text-align: right;
}

.react-datagrid__cell--align-left {
  text-align: left;
}

.react-datagrid__cell--align-center {
  text-align: center;
}

/*----------  Borders  ----------*/
.react-datagrid__borders--horizontal {}
.react-datagrid__borders--vertical {}

/*----------  Load Mask  ----------*/
.react-datagrid__load-mask {
  z-index: 10;
}
