/*===================================
=            Base styles            =
===================================*/

@import '~react-flex/index.css';

/*----------  Main  ----------*/
.react-datagrid {
  height: 100%;
  flex: 1;
  position: relative;
  min-height: 300px;
}

/*----------  Header  ----------*/
.react-datagrid__header {
  overflow: hidden;
}

/*----------  Body  ----------*/
.react-datagrid__body {
  display: flex;
  position: relative;
}

.react-datagrid__body--loading { }

/*----------  Column/Cell Groups  ----------*/
.react-datagrid__colum-group {
  overflow-y: hidden;
  overflow-x: auto;
}

.react-datagrid__header__colum-group {
  overflow: hidden;
}

/*----------  Scroller  ----------*/
.react-datagrid__scroller {
  position: relative;
  max-width: 100%;
}

.react-datagrid__scroller__content {
  position: relative;
  overflow: hidden;
}

.react-datagrid__scroller__scrollbar {
  max-width: 20px;
  overflow: auto;
}


/*----------  Empty text  ----------*/
.react-datagrid__emptry-text {}

/*----------  Row  ----------*/
.react-datagrid__row {
}

.react-datagrid__row--selected {
  background: #EAEAEA;
}

.react-datagrid__row--active {
  background: #D0E2FF;
}

.react-datagrid__row--even {}
.react-datagrid__row--odd {}
.react-datagrid__row--over {}

/*----------  Cell & Column-header  ----------*/
.react-datagrid__cell,
.react-datagrid__column-header {
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
}

/*-----  Column Header  -----*/
.react-datagrid__column-header {
}

/*----------  Cell  ----------*/
.react-datagrid__cell {}
.react-datagrid__cell--first {}
.react-datagrid__cell--last {}

.react-datagrid__cell--align-right {
  text-align: right;
}

.react-datagrid__cell--align-left {
  text-align: left;
}

.react-datagrid__cell--align-center {
  text-align: center;
}

/*----------  Borders  ----------*/
.react-datagrid__borders--horizontal {}
.react-datagrid__borders--vertical {}

/*----------  Load Mask  ----------*/
.react-datagrid__load-mask {
  z-index: 10;
}
